@font-face{
    font-family: SFpro regular;
    src: url(fonts/SF-Pro-Display-Regular.otf);
}

body {
    font-family: SFpro regular;
}
header {
   background:  rgba(0, 23, 55, 1) !important;
}
    
.info {
     background: rgba(230, 240, 249, 1);
    font-size: 18px; 
}

button {
background: white !important;
width: 7rem !important;
}
.blue-circle {
     width: 2.6rem; 
     height: 2.6rem; 
}

.card-grid div {
    background: rgba(0, 23, 55, 1);
}
